@charset "UTF-8";
body {
  background: #fefefe;
  color: #0e0e0e;
  width: 980px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

body h1 {
  padding: 60px 0;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

body .form_wrapper {
  padding: 30px 0;
}

body .form_block {
  float: left;
  width: 33.3%;
  height: 300px;
}

body .form_block dt {
  font-size: 30px;
  margin: 20px 0;
}

body .form_block .preview img {
  width: 200px;
  height: 200px;
}

body .form_button {
  text-align: center;
}

body .form_button input {
  width: 150px;
  font-size: 20px;
}

body .message {
  text-align: center;
  font-size: 25px;
  color: red;
  font-weight: bold;
  padding-top: 20px;
}

body .no_display {
  display: none;
}
